<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
    <persistence-unit name="HISE-PU">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <class>org.apache.hise.runtime.Assignee</class>
        <class>org.apache.hise.runtime.Attachment</class>
        <class>org.apache.hise.runtime.Base</class>
        <class>org.apache.hise.runtime.Comment</class>
        <class>org.apache.hise.runtime.Deadline</class>
        <class>org.apache.hise.runtime.Group</class>
        <class>org.apache.hise.runtime.Person</class>
        <class>org.apache.hise.runtime.Task</class>
        <class>org.apache.hise.runtime.Message</class>
        <class>org.apache.hise.runtime.PresentationParameter</class>
        <exclude-unlisted-classes/>
    </persistence-unit>
</persistence>
